.wrap {
  position: relative;
}

.bkgd-layout {
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  // position: relative;
  // z-index: -1001;

  &__top {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 2rem;

    &--left {
      display: flex;
      justify-content: flex-start;
    }

    &--right {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__btm {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;

    &--left {
      display: flex;
      justify-content: flex-start;
    }

    &--right {
      display: flex;
      justify-content: flex-end;
    }
  }
}

.char-img {
  width: 50%;
  height: auto;
}

// .bkgd-layout {
// 	&__top {
// 		position: relative;
// 		z-index: -1001;

// 		&--left {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			transform: translate(0, -50%);
// 		}

// 		&--right {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			transform: translate(50%, -50%);
// 		}
// 	}

// 	&__btm {
// 		position: relative;
// 		z-index: -1002;

// 		&--left {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			transform: translate(0, 50%);
// 		}

// 		&--right {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			transform: translate(50%, 50%);
// 		}
// 	}
// }

//SECONDARY CODE

// .bkgd-layout {

// 	&__top {
// 		position: relative;
// 		z-index: -1001;

// 		&--left {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			transform: translate(0, -50%);
// 		}

// 		&--right {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			transform: translate(50%, -50%);
// 		}
// 	}

// 	&__btm {
// 		position: relative;
// 		z-index: -1002;

// 		&--left {
// 			position: absolute;
// 			top: 0;
// 			left: 0;
// 			transform: translate(0, 23%);
// 		}

// 		&--right {
// 			position: absolute;
// 			top: 0;
// 			right: 0;
// 			transform: translate(50%, 27%);
// 		}
// 	}
// }

//ORIGINAL CODE
// .background {
// }

// .back-layout-top {
// 	position: relative;
// 	z-index: -1001;
// }

// .top-left {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	transform: translate(0, -50%);
// }

// .top-right {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	transform: translate(50%, -50%);
// }

// .back-layout-btm {
// 	position: relative;
// 	z-index: -1002;
// }

// .btm-left {
// 	position: absolute;
// 	top: 0;
// 	left: 0;
// 	transform: translate(0, 23%);
// }

// .btm-right {
// 	position: absolute;
// 	top: 0;
// 	right: 0;
// 	transform: translate(50%, 27%);
// }

// .char-img {
// 	width: 50%;
// 	height: auto;
// }
