// .center {
// 	position: absolute;
// 	top: 0;
// 	left: 20%;
// 	transform: translate(-5%, 0);
// 	// top: 0;
// 	// left: 50%;
// 	// transform: translate(-32%, -10%);
// 	// top: -20%;
// 	// left: 67%;
// 	// transform: translate(-50%, 30%);
// 	// top: -20%;
// 	// left: 34%;
// 	// transform: translate(-25%, 35%);
// }
.container {
  position: relative;
  max-width: 120rem;
  margin: 25rem auto 0rem auto;
  min-height: 50rem;
  border-radius: 1.5rem;
  box-shadow: 0 3rem 6rem var(--color-primary-2);
  background-image: linear-gradient(
    to bottom,
    var(--color-black),
    var(--color-primary)
  );
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 20rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 17rem;
  }
}

///////////////////////////
// Modal Window ///////////

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: var(--color-grey-light-1);
  cursor: pointer;
  border: none;
  background: none;
}

/* -------------------------- */
/* CLASSES TO MAKE MODAL WORK */

.hidden {
  display: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 70%;

  color: var(--color-grey-light-4);
  background-color: var(--color-secondary-1);
  padding: 6rem;
  border-radius: 5px;
  box-shadow: 0 3rem 5rem var(--shadow-light);
  z-index: 20;

  & h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }

  & p {
    font-family: 'Righteous', sans-serif;
    font-size: 1.8rem;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--shadow-light);
  backdrop-filter: blur(3px);
  z-index: 10;
}

///////////////////////////
/// Headline IMG /////////////
.title {
  position: relative;
}

.title-img {
  position: absolute;
  width: 80rem;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -65%);
  z-index: -1005;

  @media only screen and (max-width: $bp-largest) {
    width: 65rem;
    transform: translate(-50%, -70%);
  }

  @media only screen and (max-width: $bp-large) {
    width: 55rem;
    transform: translate(-50%, -80%);
  }

  @media only screen and (max-width: $bp-medium) {
    width: 45rem;
    transform: translate(-50%, -80%);
  }
}

///////////////////////////
/// Header ////
.header {
  font-family: 'Righteous', 'Permanent Marker', sans-serif;
  font-size: 3rem;
  letter-spacing: 3px;
  color: var(--color-grey-light-1);
  height: 7rem;
  border-bottom: 1px solid var(--color-primary-2);

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media only screen and (max-width: $bp-large) {
    font-size: 2.5rem;
    height: 5rem;
  }
}

///////////////////////////
/// Main Content /////////
.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}

///////////////////////////
/// Sidebar //////////////

.sidebar {
  background-color: var(--color-black);

  flex: 0 0 18%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  // @media only screen and (max-width: $bp-large) {
  // 	flex: 0 0 12%;
  // }
}

///////////////////////////
/// Game View /////////////

.game-view {
  background-color: var(--color-primary-2);
  height: 70rem;

  flex: 1;
}

.detail {
  font-size: 2rem;
  letter-spacing: 1px;
  display: flex;
  padding: 4.5rem;

  flex-direction: column;
  // justify-content: center;
  align-items: center;
  position: relative;

  @media only screen and (max-width: $bp-large) {
    padding: 3.5rem;
  }
}

.quote {
  background-color: var(--color-grey-light-1);
  height: 20rem;
  width: 100%;
  box-shadow: var(--shadow-light);
  border-radius: 2px;
  margin-bottom: 4.5rem;

  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem;

  &::before {
    content: '\201C';
    position: absolute;
    top: -5rem;
    left: 3rem;
    font-size: 20rem;
    color: var(--color-grey-light-4);
    font-family: sans-serif;
    z-index: 1;

    @media only screen and (max-width: $bp-large) {
      top: -3rem;
      font-size: 15rem;
    }
  }

  &__text {
    font-family: 'Righteous', 'Permanent Marker', sans-serif;
    font-size: 3rem;

    z-index: 10;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.5rem;
    }
  }

  &__name {
    font-size: 2.5rem;
    align-self: flex-end;
    padding: 2rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.2rem;
    }
  }
}

.message {
  font-size: 2.5rem;
  background-color: var(--color-grey-light-1);
  height: 7rem;
  width: 100%;
  box-shadow: var(--shadow-light);
  border-radius: 2px;
  margin-bottom: 4.5rem;
  padding: 1.5rem 0;
  display: flex;
  // justify-content: space-evenly;

  @media only screen and (max-width: $bp-large) {
    font-size: 2rem;
  }

  &__answer {
    margin-left: 2rem;
    flex: 0 0 40%;

    @media only screen and (max-width: $bp-large) {
      margin-right: 2rem;
      flex: 0 0 45%;
    }
  }

  &__char {
    font-family: 'Righteous', 'Permanent Marker', sans-serif;
    flex: 0 0 60%;

    @media only screen and (max-width: $bp-large) {
      flex: 0 0 65%;
    }
  }
}

.character-square {
  background-color: var(--color-black);
  height: 17rem;
  width: 17rem;
  box-shadow: var(--shadow-light);
  border-radius: 2px;
  overflow-y: hidden;
}

.character-img {
  width: 100%;
  height: auto;
}
