.container {
  position: relative;
  max-width: 120rem;
  margin: 25rem auto 0rem auto;
  min-height: 50rem;
  border-radius: 1.5rem;
  box-shadow: 0 3rem 6rem var(--color-primary-2);
  background-image: linear-gradient(
    to bottom,
    var(--color-black),
    var(--color-primary)
  );
  background-size: cover;
  background-repeat: no-repeat;

  @media only screen and (max-width: $bp-large) {
    max-width: 100%;
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 20rem;
  }

  @media only screen and (max-width: $bp-smallest) {
    margin-top: 17rem;
  }
}

///////////////////////////
/// Main Content /////////
.content {
  display: flex;

  @media only screen and (max-width: $bp-medium) {
    flex-direction: column;
  }
}
