///////////////////////////
/// Game View Container /////////////

.game-view {
  background-color: var(--color-primary-2);
  height: 70rem;

  flex: 1;
}

///////////////////////////
/// Overview Heading  //////

.overview {
  display: flex;
  align-items: center;

  border-bottom: 1px solid var(--color-black);
  font-family: 'Righteous', 'Permanent Marker', sans-serif;
  letter-spacing: 2px;

  &__heading {
    font-size: 3rem;
    padding: 1.5rem 3rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.5rem;
      padding: 1.5rem 2rem;
    }
  }

  &__questions {
    font-size: 1.7rem;
    margin-left: auto;
  }

  &__stars {
    display: flex;
    padding: 0 1.5rem;
  }

  &__icon-star {
    width: 1.75rem;
    height: 1.75rem;
    fill: var(--black);
  }
}

///////////////////////////
/// Detail Box //////

.detail {
  font-size: 2rem;
  letter-spacing: 1px;
  display: flex;
  padding: 4.5rem;

  flex-direction: column;
  // justify-content: center;
  align-items: center;
  position: relative;

  @media only screen and (max-width: $bp-large) {
    padding: 3.5rem;
  }
}

// Quote Box - Top

.quote {
  background-color: var(--color-grey-light-1);
  height: 20rem;
  width: 100%;
  box-shadow: var(--shadow-light);
  border-radius: 2px;
  margin-bottom: 4.5rem;

  display: flex;
  flex-wrap: wrap;
  padding: 3rem 1rem;

  &::before {
    content: '\201C';
    position: absolute;
    top: -5rem;
    left: 3rem;
    font-size: 20rem;
    color: var(--color-grey-light-4);
    font-family: sans-serif;
    z-index: 1;

    @media only screen and (max-width: $bp-large) {
      top: -3rem;
      font-size: 15rem;
    }
  }
  // Quote Text

  &__text {
    font-family: 'Righteous', 'Permanent Marker', sans-serif;
    font-size: 3rem;

    z-index: 10;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.5rem;
    }
  }

  // Name of the Character

  &__name {
    font-size: 2.5rem;
    align-self: flex-end;
    padding: 2rem;

    @media only screen and (max-width: $bp-large) {
      font-size: 2.2rem;
    }
  }
}

// Answer Box

.message {
  font-size: 2.5rem;
  background-color: var(--color-grey-light-1);
  height: 7rem;
  width: 100%;
  box-shadow: var(--shadow-light);
  border-radius: 2px;
  margin-bottom: 4.5rem;
  padding: 1.5rem 0;
  display: flex;
  // justify-content: space-evenly;

  @media only screen and (max-width: $bp-large) {
    font-size: 2rem;
  }

  // Answer Response

  &__answer {
    margin-left: 2rem;
    flex: 0 0 40%;

    @media only screen and (max-width: $bp-large) {
      margin-right: 2rem;
      flex: 0 0 45%;
    }
  }

  // Character's Response

  &__char {
    font-family: 'Righteous', 'Permanent Marker', sans-serif;
    flex: 0 0 60%;

    @media only screen and (max-width: $bp-large) {
      flex: 0 0 65%;
    }
  }
}

// Character Reveal Square

.character-square {
  background-color: var(--color-black);
  height: 17rem;
  width: 17rem;
  box-shadow: var(--shadow-light);
  border-radius: 2px;
  overflow-y: hidden;
}

// Image of Correct Character

.character-img {
  width: 100%;
  height: auto;
}
