//////////////////////////
/// Buttons //////////////
.btn {
  font-family: inherit;
  font-size: inherit;
  color: currentColor;
  background: none;
  border: none;

  &:focus {
    outline: none;
    color: var(--color-secondary);
    cursor: pointer;
  }

  &:active {
    transform: translateY(2px);
  }
}
///////////////////////////
/// Reset Button //////////
.reset {
  padding: 0 3rem;
  align-self: stretch;

  &:hover {
    background-color: var(--color-primary-2);
    border-top-left-radius: 1.5rem;
  }
}

///////////////////////////
/// Submit Button //////////
.submit {
  margin-top: 3rem;
  font-family: 'Righteous', 'Permanent Marker', sans-serif;
  font-size: 3rem;

  &:hover {
    background-color: var(--color-primary-2);
  }

  @media only screen and (max-width: $bp-medium) {
    margin-top: 0.5rem;
    font-size: 2.5rem;
  }
}
